html, body {
	height: 100%;
}
body { 
  background-color: #BC8F8F;
  font-family: Cambria, Georgia, serif;
  padding:10px;
}
.section-top {
  padding : 2px;
  background-color: #FFFACD;
  text-align: center;
  font-size: 20px;
  border-style: double;
  margin: auto;
  width: 80%;
}
input[type=submit] {
	border: 2px solid #A52A2A;
	width: 10%;
	font-size: 1.00em;
	padding: 0.5em;
	box-sizing: border-box;
	color: CD5C5C;
	margin-top: 1.5em;
}
input[type=submit]:hover {
  background-color: #B2BEB5;
}
.section-sec {
  align-items: center;
  background-color: #FA8072;
  width: 25%;
  display: flex; 
  font-size: 0.90em;
  text-align: center;
}
.section-th {
  background-color: #FFF0F5;
  text-align: center;
}
.sign-up {
  background-color: #FFDAB9;
  align-items: center;
  text-align: center;
}
#container {
	background-color: #FFDAB9;
	text-align: center;
}
.sizefont {
	color: 8B0000;
	font-size: 0.9em;
	border: 2px solid #A52A2A;
	padding: 1.2em;
	font-size: 0.70em;
	width: 10%;
}
@media screen and (max-width: 650px) {
  input[type=email] {
    max-width: 100%;
	font-size:2em;
	background-color: CD5C5C;
}
h1 {
	font-size: 60px;
	padding: 30px;
	background-color: #CD5C5C;
}
input, label {
	display: block;
	margin-left: auto;
	margin-right: auto;
	font-family: Copperplate, Copperplate Gothic Light, fantasy;
	font-weight: bold;
}
form {
	margin:0 auto;
	padding: 2.2em;
	border-radius: 1.25em;
}
.email {
	font-size: 20px;
}
@media screen and (max-width: 800px) {
 body{
	text-align: center;
	width:100%;
 }
@media screen and (max-width: 900px) {
 h1{
	text-align: center;
	width:100%;
	font-size: 0.5em;
 }
.elmo {
	position: fixed;
	float: left;
	width: 15%;
	border: 20 px solid maroon;

  
	 
	


	
	
	